# Node
node_modules/
npm-debug.log
yarn-error.log
.npm

# Build output
dist/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Test
coverage/
.nyc_output/

# OS
.DS_Store
Thumbs.db

# Storybook
storybook-static/

