@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-h: 88px;
  --footer-h: 0px;
}

body, html, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #0b132b;
  color: white;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
} 